<div class="home-container">
  <img src="assets/images/home.jpg" alt="Home Background" class="background-image">

  <div class="feeds">
    <div class="feed-container">
      <div class="feed">
        <div class="post">
          <div class="user-info">
            <img src="assets/images/barLogo.png" alt="Copo Bar logo">
            <span class="username"><a href="#">Copo Bar</a></span>
          </div>
          <div>
            <img src="assets/images/karaoke.jpg" alt="Imagem do post" class="post-pic">
          </div>
          <div class="post-content">
            <p>Hoje, mais uma grande noite de Karaoke no Copo Bar. Apresentação de Tó dos Mics. Contámos com vocês às
              21h.
              Até já.

            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed">
        <div class="post">
          <div class="user-info">
            <img src="assets/images/teatroLogo.png" alt="Teatro do Canto logo">
            <span class="username"><a href="#">Teatro do Canto</a></span>
          </div>
          <div>
            <img src="assets/images/romeuJulieta.jpg" alt="Imagem do post" class="post-pic">
          </div>
          <div class="post-content">
            <p>Mais logo, pelas 18h, teremos mais uma vez a nossa turma de teatro juvenil a recriar o clássico Romeu e Julieta de William Shakespeare.
              Entrada gratuita.

            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed">
        <div class="post">
          <div class="user-info">
            <img src="assets/images/pubLogo.png" alt="Jasons Pub logo">
            <span class="username"><a href="#">Jasons' Pub</a></span>
          </div>
          <div>
            <img src="assets/images/quizz.jpg" alt="Imagem do post" class="post-pic">
          </div>
          <div class="post-content">
            <p>E já sabem, as quartas são no Jasons Pub com as nossas noites de Quizz. Juntem os amigos, venham-se divertir e testar a vossa cultura geral.
              Até logo, o quizz inícia às 21.30H. 
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed">
        <div class="post">
          <div class="user-info">
            <img src="assets/images/restauranteLogo.png" alt="Papa Boa Restaurante logo">
            <span class="username"><a href="#">Papa Boa Restaurante</a></span>
          </div>
          <div>
            <img src="assets/images/sarrabulho.png" alt="Imagem do post" class="post-pic">
          </div>
          <div class="post-content">
            <p>Amanhã ao almoço damos início ao festival de papas de sarrabulho. Todos os almoços e jantares até domingo serão acompanhados por atividades 
              ou performances. Desde música ao vivo, rodas de concertinas, declaração de poemas ou histórias populares, a workshops. 
              As papas serão as raínhas, mas mantemos os nossos outros pratos habituais.
              Não percam.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed">
        <div class="post">
          <div class="user-info">
            <img src="assets/images/beerLogo.png" alt="Casa da Cerveja logo">
            <span class="username"><a href="#">Casa da Cerveja</a></span>
          </div>
          <div>
            <img src="assets/images/liveMusic.jpg" alt="Imagem do post" class="post-pic">
          </div>
          <div class="post-content">
            <p>Amanhã é dia da nossa Stout. E será acompanhada por boa música ao vivo, pelo talentoso 
              dueto Too Blues. Venham beber ao som da Rita e do Luís, e fazer "corus" nos refrões!!!
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>